<body>
  <div class="container">
    <div class="row">
    
    <div class="col-lg-4 d-flex justify-content-center">
    
    <img class="img-fluid " src="../../asset/home2.png" alt="">
    
    
    </div>
    
    <div class="col-lg-4 ">
    
    <img class="img-fluid" src="../../asset/h7.png" alt="">
    </div>
    <div class="col-lg-4">
    
      <img class="img-fluid" src="../../asset/home1.png" alt="">
    </div>
    
    
    </div>

    <div class="row">
<img src="../../asset/houstCol.png" alt="">


    </div>
    
    
    
    </div>
</body>