


<body class="d-flex justify-content-center  align-items-center">
 <div class="conatiner border   ok">

<div class="row">
<div class="col-lg-5 ">

<img class="img-fluid" src="../../asset/home1.jpg" alt="">
<img class="img-fluid  w-50 " src="../../asset/home2.jpg" alt="">

</div>
<div class="col-lg-5 ">

<img class="img-fluid w-50" src="../../asset/home3.jpg" alt="">
<img class="img-fluid w-50" src="../../asset/home4.jpg" alt="">


</div>


</div>
<div class="row">
  <div class="col-lg-5 ">
  
  <img class="img-fluid" src="../../asset/home5.jpg" alt="">

  <img class="img-fluid w-50" src="../../asset/home8.jpg" alt="">
  </div>
  <div class="col-lg-6 ">
  
  <img class="img-fluid w-50" src="../../asset/home7.jpg" alt="">
  <img class="img-fluid  w-50 " src="../../asset/home6.jpg" alt="">
  
  
  </div>
  
  
  </div>


 </div> 


</body>